<!-- extend base layout -->
{% extends "layout.html" %}
{% block content %}

<div class="col-md-1">
  {%if thumbnailstring %}<img src="data:image/png;base64,{{thumbnailstring}}" width="70">{% endif %} <h4>{{user|capitalize}}</h4>
</div>
<div class="col-md-8 container">
  {% if devices %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Alias</th>
          <th>Username</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for d in devices %}
        <tr>
            <td>{{ d.alias }}</td>
            <td>{{ d.username }}</td>
            <td>{{ d.description }}</td>
            <td><a href="{{ url_for('editmydevice', devices=devices, id=d.id) }}"><i class="fa fa-key" aria-hidden="true"></i>&nbsp;Change Password</a></td>
            {% if d.primary_owner_email_address %}
            <td><a href="{{ url_for('emaildevice', id=d.id) }}"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Email Me Details</a></td>
             {% else %}
             <td><i>No email address</i></td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>

{% endblock %}
