<!-- extend base layout -->
{% extends "layout.html" %}
{% block content %}

<div class="col-md-1">
  {%if thumbnailstring %}<img src="data:image/png;base64,{{thumbnailstring}}" width="70">{% endif %} <h4>{{user|capitalize}}</h4>
</div>
  <div class="col-md-10 container">
    You have {{vmr_count}} Virtual Meeting Rooms
    <div class="panel-group">
      {% for dict_item in vmr_config %}
        {% if not dict_item['scheduled_conferences'] %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('edit', id=dict_item.id )}}">{{dict_item['name']}}</a>
                    <a class="navbar-brand" href="https://{{config.CONTROL_YOUR_VMR_FQDN}}/webapp/?conference={{ dict_item.aliases[0].alias }}&role=host{%if dict_item.pin %}&pin={{dict_item.pin}}{% endif %}&name={{user}}&join=1&media=" target="_blank">Control VMR</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Click to Join
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        {% for alias in dict_item.aliases %}
                          {% if '@' in alias.alias %}
                            <li class="list-group-item"><i class="fa fa-chrome" aria-hidden="true"></i>&nbsp;WebRTC: <a href="https://{{config.WEBRTC_FQDN}}/webapp/?conference={{alias.alias}}">{{alias.alias}}</a></li>
                            <li class="list-group-item"><i class="fa fa-skype" aria-hidden="true"></i>&nbsp;Skype: <a href="sip:{{alias.alias}}">{{alias.alias}}</a></li>
                            <li class="list-group-item"><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;Pexip APP: <a href="pexip:{{alias.alias}}">{{alias.alias}}</a></li>
                          {% endif %}
                          {% if alias.alias|int %}
                            <li class="list-group-item"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Phone: <a href="tel:{{config.PHONE_VR}},,{{alias.alias}}">{{config.PHONE_VR}} then enter {{alias.alias}} #</a></li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </li>
                    <li><a href="{{ url_for('edit', id=dict_item.id )}}">Edit VMR</a></li>
                  </ul>
                  <p class="navbar-text navbar-right" style="color: orange">{{dict_item['description']}}&nbsp;</p>
                </div>
              </nav>

              <div class="panel-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Host PIN</th>
                      <th>Allow Guests</th>
                      <th>Guest PIN</th>
                      <th>Show Speaker Names</th>
                      <th>Allow Guests to Present</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% if dict_item['pin']%}
                    <td>{{dict_item['pin']}}</td>
                  {% endif %}
                  {% if dict_item['allow_guests']%}
                    <td>Yes</td>
                  {% else %}
                    <td>No</td>
                  {% endif %}
                  {% if dict_item['guest_pin']%}
                    <td>{{dict_item['guest_pin']}}</td>
                  {% elif not dict_item['allow_guests']%}
                    <td>No guests allowed</td>
                  {% else %}
                    <td>No Guest PIN</td>
                  {% endif %}
                  {% if dict_item['enable_overlay_text'] %}
                    <td>Yes</td>
                  {% else %}
                    <td>No</td>
                  {% endif %}
                  {% if dict_item['guests_can_present'] and dict_item['allow_guests']%}
                    <td>Yes</td>
                  {% elif dict_item['guests_can_present'] and not dict_item['allow_guests'] %}
                    <td>Yes. <i>(Though no guests allowed)</i></td>
                  {% else %}
                    <td>No</td>
                  {% endif %}
                    <tr>
                      <th>Conference View</th>
                      {%if dict_item['host_view'] == "one_main_seven_pips" %}
                        <td><img src="{{ url_for('static', filename='img/one_main_seven_pips.png') }}" alt="1+21" style="width:150px;height:108px;">
                      {%endif%}</td>
                      {%if dict_item['host_view'] == "one_main_twentyone_pips" %}
                        <td><img src="{{ url_for('static', filename='img/one_main_twentyone_pips.png') }}" alt="1+21" style="width:150px;height:108px;">
                      {%endif%}</td>
                      {%if dict_item['host_view'] == "one_main_zero_pips" %}
                        <td><img src="{{ url_for('static', filename='img/one_main_zero_pips.png') }}" alt="1+21" style="width:150px;height:108px;">
                      {%endif%}</td>
                      {%if dict_item['host_view'] == "two_mains_twentyone_pips" %}
                        <td><img src="{{ url_for('static', filename='img/two_mains_twentyone_pips.png') }}" alt="1+21" style="width:150px;height:108px;">
                      {%endif%}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div><br />
          {% endif %}
        {% endfor %}
      </div>
    </div>

              </div>
            </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}
